<div class="navbar bg-base-300 fixed z-10">
    <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl" href="#top">ADRIAN</a>
    </div>
    <p>set theme </p>
    <input
        type="checkbox"
        class="toggle toggle-info ml-2"
        data-toggle-theme="fantasy,dracula"
        data-act-class="ACTIVECLASS"
    />
</div>
