<div class="navbar bg-base-300 fixed">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl">ADRIAN</a>
  </div>
  <input type="checkbox" class="toggle toggle-info" data-toggle-theme="fantasy,dracula" data-act-class="ACTIVECLASS" >
</div>
